<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
</head>

<body>
  
  <nav>
    <% if (user) { %>
      <div>
        <a href="/">HOME</a>
      </div>
      <br><br>
      <div>
        <a href="/recipes">RECIPES</a>
      </div>
      <br><br>
      <div>
        <a href="/recipes/new-recipe">ADD RECIPE</a>
      </div>
      <br>
      <div>
        <a href="/logout">Log Out</a>
      </div>
    <% } else { %>
      <div>
        <a href="/about">ABOUT</a>
      </div>
      <div>
        <a href="/auth/google">Login with Google</a>
      </div>
    <% } %>
  </nav>
  
  <main>
        <h1><%= title %></h1>

        