<%- include('../partials/header') %>

<form id="newRecipe" action="/recipes" method="POST">
    <label>Name:
        <input type="text" name="name">
    </label><br>
<br>
    <label>Origin:
        <input type="text" name="origin">
    </label><br>
<br>
    <label>Ingredients: </label>
    <textarea name='ingredients'></textarea><br>
<br>
    <label>Instructions: </label>
    <textarea name='instructions'></textarea><br>
<br>
    
    <label>Time: </label>
    <input type="text" name="time"><br>
<br>
    <label>Add Image Url: </label>
    <input type="text" name="image"><br>
<br>
    <input type="submit" value="Add recipe">

</form>

<%- include('../partials/footer') %>

